<div class="row navbar">
  <div class="one-half column">
    <h2><%= link_to "Elliston", root_path %></h2>
      <%= link_to "All", :controller => "records", :genre => "" %>  |  
      <%= link_to "Poetry", :controller => "records", :genre => "poetry" %>  |  
      <%= link_to "Fiction", :controller => "records", :genre => "fiction" %>  |  
      <%= link_to "Lectures", :controller => "records", :genre => "lecture" %>
    </div>
  <div class="one-half column">
    <%= form_tag records_path, :method => "get" do %>
      <h3>Search</h3>
        <%= text_field_tag :author, params[:author] %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
</div>

<% if @records.present? %>
  <table>
    <tr>
      <th><%= sortable "author" %></th>
      <th><%= sortable "year" %></th>
      <th><%= sortable "drc_id", "Id" %></th>
      <th>Info</th>
    </tr>
    <% @records.each_with_index do |record, index| %>
      <tr>
        <td><%= link_to record.author.truncate(25, omission: '...'), record, :class => "button", :style => "width: 100%;" %></td>
        <td><%= record.year %></td>
        <td><b><%= record.drc_id %></b></td>
        <td>
          <ul>
            <li><%= record.date %></li>
            <li><%= record.series %></li>
            <li>No. of tracks: <%= record.tracks.length %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h5>Sorry, no records available.</h5>
<% end %>

<%= will_paginate @records %>
