<h2>Elliston</h2>

<% if @records.present? %>
  <table>
    <% @records.each_with_index do |record, index| %>
      <tr>
        <td><b><%= index + 1 %></b></td>
        <td><%= link_to record.author.truncate(25, omission: '...'), record, :class => "button", :style => "width: 100%;" %></td>
        <td>DRC-<%= record.drc_id %>
            <br>
            <%= record.date %>
            <br>
            <%= record.series %>
            <br>
            <%= record.attributes.keys %>
            <p>tracks:</p>
            <% record.tracks.each do |track| %>
              <%= track %>
            <% end %>
            <h3># of tracks</h3>
            <%= record.tracks.length %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h5>Sorry, no records available.</h5>
<% end %>
