<h2>Elliston</h2>

<% if @records.present? %>
  <table>
    <tr>
      <th><%= sortable "drc_id", "Id" %></th>
      <th><%= sortable "author" %></th>
      <th><%= sortable "date" %></th>
      <th>Info</th>
    </tr>
    <% @records.each_with_index do |record, index| %>
      <tr>
        <td><b><%= record.drc_id %></b></td>
        <td><%= link_to record.author.truncate(25, omission: '...'), record, :class => "button", :style => "width: 100%;" %></td>
        <td><%= record.date %></td>
        <td>
          <ul>
            <li>DRC-<%= record.drc_id %></li>
            <li><%= record.date %></li>
            <li><%= record.series %></li>
            <li>No. of tracks: <%= record.tracks.length %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h5>Sorry, no records available.</h5>
<% end %>

<%= will_paginate @records %>
